html, body {
    height: 100%;
    width: 100%;
}

.home-cta {
    background: url('/images/background.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-cta > h1 {
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    font-size: 5em;
    text-align: center;
}

.form-inline {
    display: inline-block;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

.form-inline > .delete-button {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    color: #007bff;
}

.form-inline > .delete-button:hover {
    color: #0056b3;
}